body {
  background-image: url('./img/escheresque-dark.png');
  background-color: #282c34;
  /* background-size: 15vw auto;
  background-size: 15%; */
}
.App {
  text-align: center;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
  padding: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  0% {
    /*transform: scale(1);*/
    transform-origin: center center;
    transform: rotate(-360deg) scale(1);
  }
  50% {
    /*transform: scale(1.1);*/
    transform-origin: center center;
    transform: rotate(-180deg) scale(0.6);
  }
  100% {
    /*transform: scale(1);*/
    transform-origin: center center;
    transform: rotate(0) scale(1);
  }
}

.home-name {
  color: #fec934;
  background: transparent;
  text-shadow: 3px 5px 2px #5e7b15, 2px 2px 2px rgba(206,89,55,0);
  animation: home-name 2s linear;
}
@keyframes home-name {
  0% { opacity: 0; transform: scale(0.1); }
  100% { opacity: 1; transform: scale(1); }
}
.email-card {
  background-image: url('./img/escheresque-dark.png');
  background-color: #fec934;
}

.linked:hover {
  background: #fec934;
  -moz-box-shadow: 0 0 5px #fec934;
  -webkit-box-shadow: 0 0 5px #fec934;
  box-shadow: 0px 0px 5px #fec934;
}